/* Dodavanje fontova */
@font-face {
    font-family: "DM Sans";
    src: url(/font/DM_Sans/static/DMSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url(/font/DM_Sans/static/DMSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url(/font/DM_Sans/static/DMSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(/font/Red_Hat_Display/static/RedHatDisplay-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url(/font/Lora/static/Lora-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

:root{
--font-boja-navigacija: white;    
--font-boja-svetla-tema: black;
--font-boja-tamna-tema: rgb(255, 255, 245);
--border-boja: black;
--dugme-hover-pozadina: black;
--dugme-hover-boja-font: white;
--posaljite-poruku-dugme-font-boja: white;
--posaljite-poruku-dugme-pozadina: rgb(12, 12, 12);
--posaljite-poruku-dugme-border: rgb(12, 12, 12);
--posaljite-poruku-dugme-hover-pozadina: black;
--kontakt-border-boja: rgba(0, 0, 0, 0.418);
--input-pozadina: white;
--input-tekst: black;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "DM Sans";
}



.zaglavlje-kontejner{
    width: 100%;
    height: 70vh;
}

.zaglavlje-kontejner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 35%;
}

.zaglavlje-naslov h2{
    margin: 48px 24px 16px 24px;
    font-size: 40px;
}

.zaglavlje-naslov hr{
    margin: 0 24px;
    color: black;
    height: 1px;
}

/*Kontakt sekcija*/
.kontakt-sekcija{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 32px 24px;
    
}

.kontakt-leva{
    flex: 1;
    padding-right: 200px;
    border-right: solid var(--kontakt-border-boja) 1px ;
}

.kontakt-desna{
    flex: 1;
    padding-left: 200px;
    
}

.pozovite-nas a{
    text-decoration: none;
    color: var(--font-boja-svetla-tema);
}

.drustvene-mreze-ikonice{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.drustvene-mreze-ikonice img:hover{
    cursor: pointer;
}

.forma-gornja{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.ime-input, .email-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.forma-donja{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 700;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px var(--border-boja);
    padding-right: 24px;
    background-color: var(--input-pozadina);
    color: var(--input-tekst);
}

input:focus{
    outline: none;
}

textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px var(--border-boja);
    margin-top: 24px;
    background-color: var(--input-pozadina);
    color: var(--input-tekst);
}

textarea:focus{
    outline: none;
}

.posaljite-poruku{
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: var(--posaljite-poruku-dugme-pozadina);
    color: var(--posaljite-poruku-dugme-font-boja);
    padding: 12px 24px;
    border-radius: 32px;
    border: solid var(--posaljite-poruku-dugme-border) 1px;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 240px;
}

.posaljite-poruku:hover{
    background-color: var(--posaljite-poruku-dugme-hover-pozadina);
}

.radno-vreme-i-cenovnik{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px var(--kontakt-border-boja);
    border-bottom: solid 1px var(--kontakt-border-boja);
    margin: 64px 24px 32px 24px;
    padding: 24px 48px;
}

.mapa{
    margin: 32px 24px;
    
}

iframe{
    filter: grayscale(100%);
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .kontakt-sekcija {flex-direction: column-reverse;}
    .kontakt-desna {padding: 24px;
    margin-bottom: 48px;}
    .kontakt-leva {padding-right: 32px;
    border-right: none;}
    .radno-vreme-i-cenovnik {flex-direction: column;}

    
    
    
    
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    .kontakt-sekcija {flex-direction: column-reverse;}
    .kontakt-desna {padding: 24px;
    margin-bottom: 48px;}
    .kontakt-leva {padding-right: 32px;
    border-right: none;}
    .radno-vreme-i-cenovnik {flex-direction: column;}
    
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .kontakt-leva {padding-right: 60px;}
    .kontakt-desna {padding: 24px 60px;}
}
