/*Newsletter*/
.newsletter{
    margin-top: 0;
    height: 70vh;
    background-image: url(/slike/newsletter-slika.jpeg);
    background-size: cover;
    background-position-y: 50%; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter h2{
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.newsletter p{
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#email{
    width: 400px;
    padding: 8px 16px;
    background-color: rgb(12, 12, 12);
    border: solid rgb(12, 12, 12);
    border-radius: 16px;
    margin-top: 8px;
    
}

#email:focus{
    border-color: rgb(12, 12, 12);
    color: white;
    background-color: rgb(12, 12, 12);
    outline: none;
}

#email:-webkit-autofill,
#email:-webkit-autofill:hover,
#email:-webkit-autofill:focus,
#email:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1000px rgb(12,12,12) inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}

.checkbox{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.checkbox-tekst{
    margin-top: 16px;
    margin-bottom: 16px;
}

.posaljite{
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 12px 24px;
    border-radius: 32px;
    border: solid rgb(12, 12, 12) 1px;
    cursor: pointer;
}

.posaljite:hover{
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .newsletter p {font-size: 12px;
    padding: 0 8px;
    text-align: center;}
    .checkbox {gap: 4px;}
    .checkbox-tekst {font-size: 12px;}
    
    
    
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    
    .newsletter p {font-size: 16px;
    text-align: center;}
    .checkbox {gap: 4px;}
    .checkbox-tekst {font-size: 16px;}
}

