/* Dodavanje fontova */
@font-face {
    font-family: "DM Sans";
    src: url(/font/DM_Sans/static/DMSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url(/font/DM_Sans/static/DMSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url(/font/DM_Sans/static/DMSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(/font/Red_Hat_Display/static/RedHatDisplay-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

:root{
--font-boja-navigacija: white;    
--font-boja-svetla-tema: black;
--border-boja: black;
--dugme-hover-pozadina: black;
--dugme-hover-boja-font: white;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "DM Sans";
}



.zaglavlje-kontejner{
    width: 100%;
    height: 70vh;
}

.zaglavlje-kontejner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zaglavlje-naslov h2{
    margin: 48px 24px 16px 24px;
    font-size: 40px;
}

.zaglavlje-naslov hr{
    margin: 0 24px;
    color: black;
    height: 1px;
}

/*Kartice postavke*/
.kartica-kontejner{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px;
    height: fit-content;
    
}

.kartica-leva{
    flex:2;
    height: 100%;
}

.kartica-leva h2{
    padding:0;
    margin: 0;
    font-size: 32px;
}

.datum-postavke{
    font-size: 14px;
    padding: 0;
    margin-top: 8px;
}

.info-postavke{
    font-size: 16px;
    padding: 0;
    margin-top: 0;
}

.kartica-desna{
    flex:2;
    height: 50vh;
}

.kartica-desna img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vise-informacija{
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 32px;
    border: solid var(--border-boja) 1px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    color: var(--font-boja-svetla-tema);
}

.vise-informacija:hover{
    background-color: var(--dugme-hover-pozadina);
    color: var(--dugme-hover-boja-font);
}

hr{
    margin: 0 24px;
}

hr:last-of-type{
    margin-bottom: 24px;
}

.kartica-kontejner.obrnuto{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 24px;
    height: fit-content;
}

.kartica-leva.obrnuto{
    margin-left: 32px;
}

@media only screen and (max-width: 600px) {
    .kartica-kontejner {flex-direction: column-reverse;}
    .kartica-kontejner.obrnuto {flex-direction: column-reverse;}
    .kartica-leva h2 {font-size: 24px;}
    .kartica-leva p {font-size: 12px;}
    .kartica-desna {height: auto;
    width: 100%;}
    .kartica-desna img {aspect-ratio: 16/9;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .kartica-leva.obrnuto {margin-left: 0px;}
    
    
    
    
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    .kartica-leva h2 {font-size: 24px;}
    .kartica-leva p {font-size: 12px;}
    
}



