.promeni-font-veci .datum-postavke {
    font-size: 16px ;
}
.promeni-font-veci .zaglavlje-dugme{
    font-size: 18px;
}
.promeni-font-veci .dobrodosli-tekst p{
    font-size: 20px;
}
.promeni-font-veci .saznaj-vise-dugme{
    font-size: 18px;
}
.promeni-font-veci .postavka-kartica-sredina p{
    font-size: 20px;
}
.promeni-font-veci .info-postavke{
    font-size: 18px;
}
.promeni-font-veci .vise-informacija{
    font-size: 16px;
}
.promeni-font-veci .o-nama-tekst-gornji p{
    font-size: 22px;
}
.promeni-font-veci .o-nama-tekst-donji{
    font-size: 22px;
}
.promeni-font-veci .pozovite-nas h3{
    font-size: 22px;
}
.promeni-font-veci .posetite-nas h3{
    font-size: 22px;
}
.promeni-font-veci .drustvene-mreze h3{
    font-size: 22px;
}
.promeni-font-veci .radno-vreme-sekcija td{
    font-size: 20px;
}
.promeni-font-veci .cenovnik-sekcija td{
    font-size: 20px;
}
.promeni-font-veci .umetnica-info-desna p{
    font-size: 18px;
}
.promeni-font-veci .tekst-o-izlozbi {
    font-size: 18px;
}



.promeni-font-manji .datum-postavke {
    font-size: 10px ;
}
.promeni-font-manji .zaglavlje-dugme{
    font-size: 14px;
}
.promeni-font-manji .dobrodosli-tekst p{
    font-size: 12px;
}
.promeni-font-manji .saznaj-vise-dugme{
    font-size: 14px;
}
.promeni-font-manji .postavka-kartica-sredina p{
    font-size: 12px;
}
.promeni-font-manji .info-postavke{
    font-size: 12px;
}
.promeni-font-manji .vise-informacija{
    font-size: 12px;
}
.promeni-font-manji .o-nama-tekst-gornji p{
    font-size: 14px;
}
.promeni-font-manji .o-nama-tekst-donji{
    font-size: 14px;
}
.promeni-font-manji .pozovite-nas h3{
    font-size: 14px;
}
.promeni-font-manji .posetite-nas h3{
    font-size: 14px;
}
.promeni-font-manji .drustvene-mreze h3{
    font-size: 14px;
}
.promeni-font-manji .radno-vreme-sekcija td{
    font-size: 12px;
}
.promeni-font-manji .cenovnik-sekcija td{
    font-size: 12px;
}
.promeni-font-manji .umetnica-info-desna p{
    font-size: 12px;
}
.promeni-font-manji .tekst-o-izlozbi {
    font-size: 12px;
}